/*
The MIT License

Copyright 2014 Vincent Quatrevieux <quatrevieux.vincent@gmail.com>.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/* 
    Created on : 18 déc. 2014, 17:30:46
    Author     : Vincent Quatrevieux <quatrevieux.vincent@gmail.com>
*/

*{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body{
    background: #222;
    color: #EEE;
    font-family: sans-serif;
    font-size: 14px;
    min-height: 100%;
    position: relative;
    min-width: 700px;
}

header{
    position: relative;
    overflow: auto;
    background: #444;
    border-bottom: 1px solid #666;
}

#header_nav{
    float: right;
    font-size: 16px;
}

#header_nav ul{
    list-style-type: none;
    
}

#header_nav li{
    display: block;
    float: left;
    border-left: 1px solid #666;
    height: 40px;
    line-height: 40px;
}

#header_nav a{
    color: #EEE;
    text-decoration: none;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 5px;
}

#header_nav a:hover{
    background: #48505F;
    background: rgba(22,  59, 128, .2);
    box-shadow: 0 0 2px #2C75FF inset;
    transition-property: all;
    transition-duration: .5s;
}

#logo{
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 25px;
    padding: 5px;
}

#logo a{
    color: #DDD;
    text-decoration: none;
}

#logo a:hover{
    text-shadow: 0 0 1px #EEE;
}

#contents{
    padding: 25px;
    max-width: 850px;
    margin: auto;
    display: table-cell;
}

article{
    background: #333;
    max-width: 800px;
    margin: auto;
    margin-bottom: 15px;
    border: 1px solid #444;
}

article .title{
    background: #444;
    padding: 3px;
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 3px;
    font-size: 18px;
}

article .title.small{
    font-size: 16px;
}

article p{
    padding: 5px;
}

article .date{
    color: #AAA;
    font-size: 10px;
    font-style: italic;
    text-align: right;
}

article .date:before{
    content: "le ";
}

input, select, .button, textarea{
    padding: 3px;
    border-radius: 2px;
    display: block;
    margin: 5px;
    color: #DDD;
    border: 1px solid #666;
    background: #444;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    vertical-align: middle;
    text-decoration: none;
}

input:not([type="submit"]):not([type="button"]), select{
    border: 1px solid #666;
    background: #444;
    width: 220px;
}

input:not([type="submit"]):not([type="button"]):focus, textarea:focus{
    background: #48505F;
    box-shadow: 0 0 2px #2C75FF inset;
    background: rgba(70,  128, 255, .2);
    transform-style: background, box-shadow;
    transition-duration: .2s;
}


input[type="submit"]:hover, input[type="button"]:hover, a.button:hover{
    box-shadow: 0 0 2px #2C75FF;
}

input.error, select.error{
    border: 1px solid darkred !important;
    color: darkred;
}

input.valid, select.valid{
    border: 1px solid darkgreen !important;
}

#form_error{
    text-align: center;
    color: darkred;
}

#speed_search{
    margin: 0 5px;
}

#speed_search input{
    display: inline-block;
}


/*
    auto completion / active list
*/

#autocomplete_list{
    border: 1px solid #666;
    background: #444;
    list-style-type: none;
    border-top: none;
}

#autocomplete_list li{
    padding: 2px;
}

#autocomplete_list li.focus{
    background: rgba(70,  128, 255, .2);;
    color: #FFF;
}

.notif{
    background: darkred;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 3px;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #666;
}

.notif:empty{
    display: none;
}

section > h1{
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
}

a{
    color: #DDD;
    text-decoration: underline;
}

.user_list{
    list-style-type: none;
    padding: 5px;
}

.user_list li{
    width: 100%;
    border-bottom: 1px solid #666;
    overflow: auto;
}

.user_list li:last-of-type{
    border-bottom: none;
}

.user_list a.userlink{
    text-decoration: none;
    margin-left: 5px;
    display: inline-block;
    float: left;
    line-height: 35px;
}

.user_list .buttons{
    float: right;
    margin-right: 5px;
}

.button{
    display: inline-block;
}

.button.red{
    background: darkred;
    border: 1px solid #C33;
}

.button.green{
    background: darkgreen;
    border: 1px solid #383;
}

#left_menu{
    width: 200px;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    border-left: none;
    display: table-cell;
}

#left_menu h2{
    background: #444;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
    padding-left: 15px;
}

footer{
    border-top: 1px solid #444;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 75px;
}

#left_menu ul{
    list-style-type: none;
    margin: 10px;
}

#body{
    padding-bottom: 75px;
    display: table;
    width: 100%;
}

.avatar{
    max-width: 200px;
    max-height: 200px;
}

a:hover .avatar{
    opacity: .8;
}

#image_grid a{
    display: inline-block;
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
}

#image_grid{
    max-width: 650px;
    margin: auto;
}

#image_info{
    text-align: center;
}

#image_info img{
    max-width: 100%;
}

img.thumb{
    float: left;
    max-height: 30px;
    max-width: 30px;
    margin-top: 2px;
}

#message{
    width: 100%;
    height: 150px;
}

#message_form{
    padding: 10px;
}

#discussion_room{
    height: 478px;
    overflow-y: auto;
}

#discussion_room .message{
    width: 75%;
    border-radius: 10px;
    margin: 5px;
}

#discussion_room .message.other{
    float: right;
    background:  #666;
}

#discussion_room .message.me{
    float: left;
    background: #167;
}

#discussion_room .message .who{
    display: block;
    font-size: 12px;
    font-style: italic;
    color: #AAA;
}

#discussion_room .message .who:after{
    content: " : ";
}

ul#discussions_list{
    margin: 0;
}

ul#discussions_list li{
    background: #333;
}

ul#discussions_list li a{
    text-decoration: none;
    display: block;
    padding: 5px;
}

ul#discussions_list li:hover{
    background: #444;
}

ul#discussions_list li.current{
    background: #555;
}

ul#discussions_list li.unread{
    font-weight: bold;
    background: #633;
}

.button_container{
    width: 100%;
    text-align: center;
}

#new_msg_form{
    padding: 15px;
}

#new_msg_form input:not([type="submit"]){
    width: 100%;
}

.error{
    color: darkred;
}

#create_event_form > table{
    margin: auto;
}

#create_event_form label:after{
    content: " : ";
}

.event_list{
    list-style-type: none;
    padding: 5px;
}

.event_list li{
    border-bottom: 1px solid #666;
    height: 35px;
    min-width: 600px;
}

.event_list li:last-of-type{
    border-bottom: none;
}

.event_list .event_description{
    font-style: italic;
    font-size: 12px;
    color: #AAA;
}

.event_list h3{
    font-size: 14px;
}

.event_list .right{
    float: right;
    font-size: 13px;
    width: 320px;
}

.event_list .right, .event_list .left{
    margin: 0 5px;
    overflow: hidden;
    height: 35px;
}

.event_list .left{
    float: left;
    width: 220px;
}

@media(max-width: 950px){
    #speed_search{
        display: none;
    }
}

[data-chart-type]{
    width: 800px;
    min-height: 200px;
    text-align: center;
    line-height: 200px;
}

[data-chart-type]:empty:after{
    content: "Chargement...";
    font-weight: bold;
}