<section id="contents">
    <h1>Sites Partenaires</h1>

    <article class="partern">
        <h2 class="title"><a href="http://afkportal.alwaysdata.net/" target="_blank">AFK Portal</a></h2>
        <aside>
            <img src="http://afkportal.alwaysdata.net/images/logo_AFK.png" alt="logo AFK"/>
        </aside>
        <p>
            <strong>AFK Portal</strong> est un site communautaire orienté vers une même passion: les jeux-vidéos.
            Sur celui-ci vous pourrez trouver des évènements proche de chez vous et rencontrez d'autres passionés.
        </p>
    </article>

    <article class="partern">
        <h2 class="title"><a href="http://achievementsforkitties.com/" target="_blank">Achievements For Kitties</a></h2>
        <aside>
            <img src="http://achievementsforkitties.com/images/website/cat_unicorn.jpg" alt="logo_webvoiturage"/>
        </aside>
        <p>
            <strong>Achievements For Kitties</strong> un site haut en couleur représentatif de la culture geek !
        </p>
    </article>

    <article class="partern">
        <h2 class="title"><a href="http://webco.ovh/" target="_blank">WebVoiturage</a></h2>
        <aside>
            <img src="http://webco.ovh/resources/images/bottom-logo.png" alt="logo_achievementsforkitties"/>
        </aside>
        <p>
            <strong>WebVoiturage</strong> est un site qui permet de participer à des covoiturages entre des membres du personnel de l'université d'Aix-Marseille. 
            Il a été réalisé au cours d'un projet à L'I.U.T. informatique d'Aix-en-Provence.
        </p>
    </article>

</section>






